{% extends 'partials/base.html' %}
{% block content %}


{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>StepTracker</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'steps/img/favicon.png' %}" rel="icon">
  <link href="{% static 'steps/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'steps/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'steps/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'steps/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'steps/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'steps/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'steps/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: eStartup - v4.7.1
  * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a href=""><span>Step</span>Tracker</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#add-steps">Add Steps</a></li>
          <li><a class="nav-link scrollto" href="#history">History</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>Welcome to StepTracker</h1>
      <h2>An easy way to track your daily steps</h2>
      <img src="{% static 'steps/img/hero-img2.png' %}" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
      <a href="#add-steps" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <section id="get-started" class="padd-section text-center"></section>

        <!-- ======= Add Steps Section ======= -->
        <section id="add-steps" class="about-us padd-section">
          <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
    
              <div class="section-title text-center">
                <div class="about-content" data-aos="fade-left" data-aos-delay="100">
    
                  <h2>Add today's steps</h2>

                  <!-- === Steps/Date Form === -->
                  <form action="#add-steps" method="POST">
                    <fieldset>
                      {% csrf_token %}
                      {{ form_steps.as_p }}
                      <button type="submit" name="submit1" class="btn btn-success">Submit</button>
                    </fieldset>
                  </form>  
                  <!-- -->

                </div>
              </div>
    
            </div>
          </div>
        </section><!-- End Add Steps Section -->

        <!-- ======= History Section ======= -->
    <section id="history" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="section-title text-center">
            <h2>Keep track of your steps</h2>
            <p class="separator">Select time period below</p>
          </div>


          <!-- === Date Range Form === -->
          <form action="#history" method="POST">
            <fieldset>
              {% csrf_token %}

              <pre class="separator">Start Date:  {{form_date_range.start_date}}      End Date:  {{form_date_range.end_date}}</pre>

              <p><p>
                <button type="submit" name="submit2" class="btn btn-success">Submit</button>
              </p></p>
                <!-- <input type="submit" value="Submit" /> -->
            </fieldset>
          </form>
          <!-- -->


          <!-- === Bar Chart === -->
          <div class="col-md-8 padd-section">
            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for dailysteps in steps_all %}  '{{dailysteps.steps_date}}',  {% endfor %}],
                    datasets: [{
                        label: '# of Steps',
                        data: [{% for dailysteps in steps_all %}  {{ dailysteps.steps_input }},  {% endfor %}],
                        backgroundColor: [
                        {% for dailysteps in steps_all %}  'rgba(113, 197, 93, 0.4)',  {% endfor %}
                        ],
                        borderColor: [
                        {% for dailysteps in steps_all %}  'rgba(0, 0, 205, 0.8)',  {% endfor %}
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            </script>
          </div>
          <!-- -->

        </div>
      </div>
    </section><!-- End History Section -->



  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'steps/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'steps/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'steps/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'steps/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'steps/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'steps/js/main.js' %}"></script>

</body>

</html>

{% endblock %}